a, a:visited, a:active{
  text-decoration: none;
  color: #FFFFFF;
}

.ivan, .hello, .prog{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.mainbox{
  position: absolute;
  width: 100%;
  height: 103%;
  left: 0px;
  top: 0px;
  
  background: url(img/back.jpg);
  background-size: 100%;
}

.hello{
  position: absolute;
  width: 403px;
  height: 94px;
  left: 6%;
  top: 23%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  /* identical to box height */


  color: #FFFFFF;

}

.ivan{
  position: absolute;
  width: 750px;
  height: 171px;
  left: 6%;
  top: 28%;

  font-family: 'Ramaraja';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 171px;

  color: #FFFFFF;
}

.prog{
  position: absolute;
  width: 613px;
  height: 94px;
  left: 6%;
  top: 46%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  /* identical to box height */


  color: #FFFFFF;

}

.mne:hover, .jobs:hover, .hobby:hover, .contacts:hover{
  background-color: rgba(255, 255, 255, 0.2)
}

.mne{
  box-sizing: border-box;

  position: absolute;
  width: 12%;
  height: 4.5%;
  left: 6%;
  top: 81.7%;

  border: 1px solid #FFFFFF;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  padding-top: 2px;
  

  color: #FFFFFF;
}



.jobs{
  box-sizing: border-box;

  position: absolute;
  width: 12%;
  height: 4.5%;
  left: 24%;
  top: 81.7%;

  border: 1px solid #FFFFFF;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  padding-top: 2px;

  color: #FFFFFF;
}

.hobby{
  box-sizing: border-box;

  position: absolute;
  width: 12%;
  height: 4.5%;
  left: 42%;
  top: 81.7%;

  border: 1px solid #FFFFFF;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  padding-top: 2px;


  color: #FFFFFF;
}

.contacts{
  box-sizing: border-box;

  position: absolute;
  width: 12%;
  height: 4.5%;
  left: 60%;
  top: 81.7%;

  border: 1px solid #FFFFFF;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  padding-top: 2px;

  color: #FFFFFF;
}

.about{
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0px;
  top: 101%;
}

.txt{
  box-sizing: border-box;

  position: absolute;
  width: 194px;
  height: 51px;
  left: 45%;
  top: -1%;

  background: #FFFFFF;
  border: 1px solid #000000;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  padding-top: 6px;
  text-align: center;

  color: #000000;
}

.line1{
  position: absolute;
  width: 44.9%;
  height: 0px;
  left: 0px;
  top: 2.5%;

  border: 1px solid #000000;
}
 .line2{
position: absolute;
width: 44.8%;
height: 0px;
left: 55.1%;
top: 2.5%;

border: 1px solid #000000;
}

.cardme{
  box-sizing: border-box;

  position: absolute;
  width: 270px;
  height: 497px;
  left: 21%;
  top: 18%;

  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #000000;
}

.mef{
  position: absolute;
  width: 231px;
  height: 246px;
  left: 7%;
  top: 4%;
}

.name{
  position: absolute;
  width: 199px;
  height: 32px;
  left: 10%;
  top: 61.5%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.dr{
  position: absolute;
  width: 212px;
  height: 32px;
  left: 10%;
  top: 73%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.si{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 12%;
  top: 86%;
}

.html{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 40%;
  top: 86%;
}

.css{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 68%;
  top: 86%;
}

.textme{
  box-sizing: border-box;

  position: absolute;
  width: 767px;
  height: 497px;
  left: 38.6979166667%;
  top: 18%;

  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #000000;
}

.linetextme{
  position: absolute;
  width: 610px;
  height: 0px;
  left: 17%;
  top: 11%;

  border: 1px solid #000000;
}

.ruka{
  position: absolute;
  width: 81px;
  height: 81px;
  left: 4%;
  top: 2%;
}

.maintextme{
position: absolute;
width: 689px;
height: 393px;
left: 7%;
top: 20%;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 45px;


color: #000000;
}

.jobox{
  position: absolute;
  width: 100%;
  height: 83%;
  left: 0px;
  top: 181%;
}

.jbox{
  box-sizing: border-box;

  position: absolute;
  width: 194px;
  height: 51px;
  left: 45%;
  top: -3%;

  background: #FFFFFF;
  border: 1px solid #000000;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  padding-top: 6px;
  text-align: center;

  color: #000000;
}

.line3{
  position: absolute;
  width: 44.9%;
  height: 0px;
  left: 0px;
  top: 0%;

  border: 1px solid #000000;
}

.line4{
  position: absolute;
  width: 44.8%;
  height: 0px;
  left: 55.1%;
  top: 0%;

  border: 1px solid #000000;
}

.box{
  box-sizing: border-box;

  position: absolute;
  width: 1103px;
  height: 530px;
  left: 21%;
  top: 15%;

  border: 1px solid #000000;
}

.port{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 3%;
  top: 4%;
}

.line5{
  position: absolute;
  width: 489px;
  height: 0px;
  left: 2%;
  top: 18%;

  border: 1px solid #000000;
}

.card1{
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 250px;
  left: 8%;
  top: 28%;

  border: 1px solid #000000;

  transition: .2s;
}

.card2{ 
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 250px;
  left: 38%;
  top: 28%;

  border: 1px solid #000000;
}

.card3{
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 250px;
  left: 68%;
  top: 28%;

  border: 1px solid #000000;
}

.window1, .window2, .window3{
  position: absolute;
  width: 70px;
  height: 70px;
  left: 35%;
  top: 20%;
  transition: .2s;
}

.ap{
  position: absolute;
  width: 142px;
  height: 35px;
  left: 21%;
  top: 50%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;

  color: #000000;
  transition: .2s;
}

.job1, .job2, .job3{
  position: absolute;
  width: 142px;
  height: 35px;
  left: 21%;
  top: 50%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;

  color: #000000;
}

.son{
  position: absolute;
  opacity: 0;
  transition: .2s;
}

.card1:hover .son{
  opacity: 1;
}

.card1:hover .job1{
  opacity: 0;
}

.card1:hover .window1{
  opacity: 0;
}

.card2:hover .son{
  opacity: 1;
}

.card2:hover .job2{
  opacity: 0;
}

.card2:hover .window2{
  opacity: 0;
}

.card3:hover .son{
  opacity: 1;
}

.card3:hover .job3{
  opacity: 0;
}

.card3:hover .window3{
  opacity: 0;
}

.hobbys{
  position: absolute;
  width: 100%;
  height: 90%;
  left: 0px;
  top: 264%;
}

.hobbyname{
  box-sizing: border-box;

  position: absolute;
  width: 194px;
  height: 51px;
  left: 45%;
  top: -3%;

  background: #FFFFFF;
  border: 1px solid #000000;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  padding-top: 6px;
  text-align: center;

  color: #000000;
}

.voley{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 26%;
  top: 10%;
}

.game{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 47.5%;
  top: 10%;
}

.music{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 69%;
  top: 10%;
}

.voleycard{
  box-sizing: border-box;

  position: absolute;
  width: 315px;
  height: 488px;
  left: 20.5%;
  top: 30%;

  border: 1px solid #000000;
}

.line{
  position: absolute;
  width: 65.01px;
  height: 0px;
  left: 2%;
  top: 5%;

  border: 1px solid #000000;
}

.voleytxt, .gametxt, .musictxt{
  position: absolute;
  width: 291px;
  height: 403px;
  left: 4%;
  top: 4%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 50px;
  /* or 200% */

  text-align: center;

  color: #000000;
}

.gamecard{
  box-sizing: border-box;

  position: absolute;
  width: 315px;
  height: 488px;
  left: 42%;
  top: 30%;

  border: 1px solid #000000;
}

.musiccard{
  box-sizing: border-box;

  position: absolute;
  width: 315px;
  height: 488px;
  left: 64%;
  top: 30%;

  border: 1px solid #000000;
}

.contact{
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0px;
  top: 354%;
}

.contatsname{
  box-sizing: border-box;

  position: absolute;
  width: 194px;
  height: 51px;
  left: 45%;
  top: -4%;

  background: #FFFFFF;
  border: 1px solid #000000;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  padding-top: 6px;
  text-align: center;

  color: #000000;
}

.cbox{
  box-sizing: border-box;

  position: absolute;
  width: 1124px;
  height: 450px;
  left: 416px;
  top: 20%;

  border: 1px solid #000000;
}

.phone{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 5%;
  top: 12%;
}

.phonetxt{
  position: absolute;
  width: 398px;
  height: 29px;
  left: 13%;
  top: 10%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;

  color: #000000;
}

.whatsapp{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 57%;
  top: 12%;
}

.whatsapptxt{
  position: absolute;
  width: 420px;
  height: 29px;
  left: 65%;
  top: 10%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;

  color: #000000;
}

.wiber{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 5%;
  top: 36%;
}

.wibertxt{
  position: absolute;
  width: 355px;
  height: 29px;
  left: 13%;
  top: 34%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;

  color: #000000;
}

.telegram{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 57%;
  top: 36%;
}

.telegramtxt{
  position: absolute;
  width: 337px;
  height: 53px;
  left: 65%;
  top: 31%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 53px;
  /* identical to box height, or 212% */


  color: #000000;
}

.insta{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 5%;
  top: 58%;
}

.instatxt{
  position: absolute;
  width: 246px;
  height: 53px;
  left: 13%;
  top: 54%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 53px;
  /* identical to box height, or 212% */


  color: #000000;
}

.github{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 57%;
  top: 58%;
}

.githubtxt{
  position: absolute;
  width: 251px;
  height: 53px;
  left: 65%;
  top: 54%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 53px;
  /* identical to box height, or 212% */


  color: #000000;
}

.gmail{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 5%;
  top: 80%;
}

.gmailtxt{
  position: absolute;
  width: 401px;
  height: 53px;
  left: 13%;
  top: 75%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 53px;
  /* identical to box height, or 212% */


  color: #000000;
}

.vk{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 57%;
  top: 80%;
}

.vktxt{
  position: absolute;
  width: 300px;
  height: 53px;
  left: 65%;
  top: 75%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 53px;
  /* identical to box height, or 212% */


  color: #000000;
}